{% extends 'base.html.twig' %}

{% block title %}{{ corp_name }} | Admin{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1>Admin Panel</h1>
        <br>

        <div class="row">
            <div class="col-md-6">
                <h2>Premier Caregiving</h2>
                <p>
                    <a target="_blank" href="https://www.premiercaregiving.com/">www.premierecaregiving.com</a><br>
                    <a target="_blank" href="https://blenny-pentagon-j85b.squarespace.com/config">squarespace admin and
                        analytics</a>
                </p>
                <p>Google Login: brookhardinpeach@gmail.com</p>
                <p>
                    <a target="_blank"
                       href="https://analytics.google.com/analytics/web/#/p490469188/reports/intelligenthome">Premier
                        Caregiving Google Analytics Dashboard</a><br>
                    <a target="_blank"
                       href="https://search.google.com/search-console?utm_source=about-page&resource_id=https://www.premiercaregiving.com%2F&pages=ALL_URLS">Google
                        Search Console</a><br>
                    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1Ke-_dWtLF1p7KhXhByih2f2DSHRV3OF_8ZV64cxDv00/edit?gid=0#gid=0">Premier
                        Caregiving Flyer Locations Spreadsheet</a>
                </p>
                <br>
                <h2>Snorkeldreams</h2>
                <p>
                    <a target="_blank" href="https://www.snorkeldreams.com/">www.snorkeldreams.com</a><br>
                    <a target="_blank" href="https://blue-frog-83ly.squarespace.com/config/">squarespace admin and
                        analytics</a>
                </p>
                <p>Google Login: gary.a.peach@gmail.com</p>
                <p>
                    <a target="_blank"
                       href="https://analytics.google.com/analytics/web/?utm_source=marketingplatform.google.com&utm_medium=et&utm_campaign=marketingplatform.google.com%2Fabout%2Fanalytics%2F#/p396745322/reports/intelligenthome">Snorkeldreams
                        Google Analytics Dashboard</a><br>
                    <a target="_blank"
                       href="https://search.google.com/search-console?utm_source=about-page&resource_id=https://www.snorkeldreams.com/">Google
                        Search Console</a>
                </p>
                <br>
            </div>
            <div class="col-md-6">
                <h2>Ocean Pride Media</h2>
                <p>
                    <a target="_blank" href="https://www.oceanpridemedia.com/">www.oceanpridemedia.com</a>
                </p>
                <p>Google Login: gary@oceanpridemedia.com</p>
                <p>
                    <a target="_blank"
                       href="https://analytics.google.com/analytics/web/#/p490430979/reports/intelligenthome">Ocean
                        Pride Media Google Analytics Dashboard</a><br>
                    <a target="_blank"
                       href="https://search.google.com/search-console?resource_id=https://www.oceanpridemedia.com/">Google
                        Search Console</a>
                </p>
                <br>
                <h2>Dreamhost</h2>
                <p>
                    <a target="_blank" href="https://www.dreamhost.com">www.dreamhost.com</a><br>
                    <a target="_blank" href="https://panel.dreamhost.com/?tree=domain.dashboard#/list-view">Dreamhost
                        Panel</a>
                </p>
                <br>
                <h2>Udemy Classes</h2>
                <p><a target="_blank" href="https://external-teksystems.udemy.com/home/my-courses/learning/">My
                        Learning</a>
                </p>
                <br>
                <h2>Gary Etsy Store</h2>
                <p></p>
                <br>
                <h2>Gary Etsy Store</h2>
                <p></p>
                <br>
                <h2>Lgbtq Etsy Store</h2>
                <p></p>
                <br>
                <h2>Fudge Etsy Store</h2>
                <p></p>
                <br>
                <h2>Fudge Square Account</h2>
                <p></p>
                <br>
            </div>
        </div>

        <div style="display: flex; gap: 20px;">

            <div style="flex: 1;">

            </div>
            <div style="flex: 1;">

            </div>
        </div>

    </div>
{% endblock %}
