// Import Bootstrap's SCSS files
@import "~bootstrap/scss/bootstrap";

body {
    font-family: Arial, sans-serif;
    background-color: #09275b;
}

.welcome {
    padding: 50px;
    color: #fff;
    background-color: #444;
}

//.about {
//  padding: 50px;
//  color: #fff;
//}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .left-container,
    .right-container {
        flex: 1 1 50%;
        max-width: 50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-container {
        //background-color: #007bff;
    }

    .right-container {
        //background-color: #07d5f1;
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .left-container,
        .right-container {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}

.call-to-action {
    padding: 50px;
    color: #fff;
    background-color: #444;
}

.photo {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-about {
    width: 100%;
    max-width: 150px; /* Adjust the max width as needed */
    height: auto;
    max-height: 150px; /* Adjust the max height as needed */
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.photo-main {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.photo-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.photo-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.video {
    padding: 50px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 560px; /* Adjust max width for larger screens */
    aspect-ratio: 16 / 9; /* Maintains video aspect ratio */
    margin: 50px auto; /* Centers it */
}

.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.video-container-about {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin: 50px auto;
}

.video-container-about iframe {
    width: 100%;
    height: 100%;
}

.contact {
    padding: 50px;
    color: #fff;
    background-color: #444;
}


//navbar

//nav.navbar {
//  background-color: #ff0088;
//  padding: 10px;
//}
//
//nav.navbar ul {
//  list-style: none;
//  padding: 0;
//  margin: 0;
//  display: flex;
//}
//
//nav.navbar ul li {
//  margin-right: 20px;
//}
//
//nav.navbar ul li a {
//  color: #fff;
//  text-decoration: none;
//  font-weight: bold;
//}
//
//nav.navbar ul li a:hover {
//  text-decoration: underline;
//}


//blue theme
[data-bs-theme="blue"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-blue);
    --bs-body-bg-rgb: #{to-rgb($blue)};
    --bs-tertiary-bg: #{$blue-600};

    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}

.nav-item.active .nav-link {
    font-weight: bold;
    color: #007bff; /* Change this to your desired highlight color */
}
